page-list {

	#fotos{
		padding: 3%;
		margin-top: 5%;
		border-style: groove;
		font-size: 400%;
	}

	/*#add_foto{
		border-style: dotted;
		border-color: gray;
		font-size: 400%;
	}*/
	#icon_add{


	}


}
#imagen{
	display: inline;
}